{{template "base" .}}

{{define "content"}}
    <h1>This is an About page</h1>
        <p>This is a paragraph of text</p>

        <p>This came from the template {{index .StringMap "test"}}</p>
{{end}}